<div class="container">
  <br>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(139, 77, 98,0.9); border-radius: 30px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/Publicis_logo.svg.png" width="100" height="35"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <div *ngIf="identity && identity.usuario; else isLoggedOut1" >
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false">
                Mi Gustos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/micanciones']">Mi Musica</a></li>
                <li><a class="dropdown-item" href="#">Mi Literatula</a></li>
                <li><a class="dropdown-item" href="#">Mi Comida</a></li>
                <li><a class="dropdown-item" href="#">Mi Contenido</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <ng-template #isLoggedOut1>
          
        </ng-template>
        </ul>
      </div>
      <div *ngIf="identity && identity.usuario; else isLoggedOut" >
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ identity.usuario }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/migeneromusical']">Agregar Genero</a></li>
              <li><a class="dropdown-item" [routerLink]="['/mimusica']">Agregar Canciones</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/miperfil']">Mi Perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="['/user-edit']">Ajustes De Perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar Sesion</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ng-template #isLoggedOut>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Crear Usuario</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>